{{!--
  site/_layout.hbs - Master page template (HTML5 shell).

  This is the base layout that ALL page templates extend via {{#extend "site/layout"}}.
  It defines the following overridable blocks:

    - "head"        : <head> content (title, stylesheets, inline config)
    - "page-header" : Page header bar with kind badge, title, and summary
    - "controls"    : Breadcrumbs and access filter toolbar
    - "content"     : Main content area (wraps primary + secondary)
    - "primary"     : The main doclet rendered as a symbol with expanded=true
    - "secondary"   : Child symbols grouped by kind via the {{symbol-kinds}} helper
    - "footer"      : Footer with copyright, generated-by, and custom footer option

  Child templates override blocks with {{#content "blockName"}}...{{/content}}.

  Data flow: handlebarsHelper.render() passes the root context containing
  { crumbs, doclet, config, options, navbar } to this template.
--}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	{{#block "head"}}
		<title>{{doclet.pageTitle}}</title>
		{{#if options.favicon}}
		<link rel="icon" type="{{config.faviconType}}" href="{{options.favicon}}"/>
		{{/if}}
		<link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2/src/regular/style.css">
		<link type="text/css" rel="stylesheet" href="css/prism.min.css">
		<link type="text/css" rel="stylesheet" href="css/template.min.css">
		{{#each options.stylesheets}}
			<link type="text/css" rel="stylesheet" href="{{.}}">
		{{/each}}
		{{#if options.systemColor}}
			<style>
				:root { --fd-primary: {{options.systemColor}}; }
			</style>
		{{/if}}
		<script type="text/javascript">
			window.TEMPLATE_OPTIONS = {{{json options}}};
			window.DOCLET_TOC_ENABLED = {{{json doclet.showTableOfContents}}};
			window.DOCLET_AFILTER_ENABLED = {{{json doclet.showAccessFilter}}};
		</script>
	{{/block}}
</head>
<body>
	{{> site/navbar}}
	{{#block "page-header"}}
		<div class="page-header">
			<div class="container">
				<span class="kind">{{doclet.kind}}</span>
				<h1>{{{doclet.pageTitleHTML}}}</h1>
				{{> tag/summary doclet}}
			</div>
		</div>
	{{/block}}
	<div class="container content">
		<div class="row">
			<div class="{{#if doclet.showTableOfContents}}col-md-9{{else}}col-md-12{{/if}} main-content">
				{{#block "controls"}}
					<div class="controls-bar d-flex align-items-center justify-content-between bg-light rounded px-3 py-2 mb-3">
						{{#if crumbs}}
							<ol class="breadcrumb mb-0">
								{{#each crumbs}}
								<li class="breadcrumb-item{{#if @last}} active{{/if}}">{{{.}}}</li>
								{{/each}}
							</ol>
						{{/if}}
						{{#if doclet.showAccessFilter}}
							<div class="access-filter mb-0">
								{{#if doclet.has.inherited}}
									<div class="form-check form-check-inline checked">
										<input class="form-check-input toggle-inherited" type="checkbox" value="" checked>
										<label class="form-check-label"><i class="ph ph-git-fork"></i> Inherited</label>
									</div>
								{{/if}}
								{{#if doclet.has.public}}
									<div class="form-check form-check-inline checked">
										<input class="form-check-input toggle-public" type="checkbox" value="" checked>
										<label class="form-check-label"><i class="ph ph-eye"></i> Public</label>
									</div>
								{{/if}}
								{{#if doclet.has.protected}}
									<div class="form-check form-check-inline checked">
										<input class="form-check-input toggle-protected" type="checkbox" value="" checked>
										<label class="form-check-label"><i class="ph ph-shield"></i> Protected</label>
									</div>
								{{/if}}
								{{#if doclet.has.private}}
									<div class="form-check form-check-inline checked">
										<input class="form-check-input toggle-private" type="checkbox" value="" checked>
										<label class="form-check-label"><i class="ph ph-lock"></i> Private</label>
									</div>
								{{/if}}
							</div>
						{{/if}}
					</div>
				{{/block}}
				{{#block "content"}}
					<section>
						{{#block "primary"}}
							<dl class="symbol primary">
								{{symbol doclet primary=true expanded=true options=options}}
							</dl>
						{{/block}}
						{{#block "secondary"}}
							<article class="secondary">
								{{#each (symbol-kinds doclet.symbols)}}
									<h3><i class="ph {{icon}}"></i> {{title}}</h3>
									<dl class="symbol">
										{{#each items}}
											<hr/>
											{{symbol this options=@root.options}}
										{{/each}}
									</dl>
								{{/each}}
							</article>
						{{/block}}
					</section>
				{{/block}}
			</div>
			{{#if doclet.showTableOfContents}}
				<div class="col-md-3 side-content">
					<nav class="toc d-none d-md-block d-print-none"></nav>
				</div>
			{{/if}}
		</div>
	</div>
	<footer>
		{{#block "footer"}}
			{{#if options.footer}}
				<div class="footer-option">{{{options.footer}}}</div>
			{{/if}}
			{{#if options.copyright}}
				<div class="copyright">{{{options.copyright}}}</div>
			{{/if}}
			<div class="generated-by">Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc {{config.version}}</a>{{#if options.includeDate}} on {{config.date}}{{/if}} using the <a href="https://github.com/steveush/foodoc">FooDoc template</a>.</div>
		{{/block}}
	</footer>
	{{#if config.debug}}
		<div>
			<pre class="prettyprint source language-javascript"><code class="language-javascript">{{{json config pretty=true}}}</code></pre>
			<pre class="prettyprint source language-javascript"><code class="language-javascript">{{{json doclet pretty=true}}}</code></pre>
		</div>
	{{/if}}
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/clipboard.min.js"></script>
	<script src="js/prism.min.js"></script>
	<script src="js/template.min.js"></script>
	{{#if options.search}}
		{{> search/modal}}
		<script src="js/lunr.min.js"></script>
	{{/if}}
	{{#each options.scripts}}
		<script src="{{.}}"></script>
	{{/each}}
	{{#if options.analytics}}{{#if options.analytics.ua}}{{#if options.analytics.domain}}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', '{{options.analytics.ua}}', '{{options.analytics.domain}}');
			ga('send', 'pageview');
		</script>
	{{/if}}{{/if}}{{/if}}
</body>
</html>
