<!-- start:navbar.hbs -->
<header class="navbar navbar-expand-md{{#if options.inverseNav}} navbar-dark bg-dark{{else}} navbar-light bg-light{{/if}} fixed-top">
	<div class="container">
		<a class="navbar-brand{{#if options.systemLogo}} branding-logo{{/if}}" href="{{navbar.index.link}}"{{#if options.systemLogo}} style="background-image: url({{options.systemLogo}});"{{/if}}>
			{{navbar.index.title}}
		</a>
		<!-- displayed on small devices -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavigation" aria-controls="topNavigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="topNavigation">
			<ul class="navbar-nav me-auto">
				{{#each navbar.topLevel}}
					{{#if ../options.inlineNav}}
						<li class="nav-item"><a class="nav-link" href="{{link}}">{{title}}</a></li>
					{{else}}
						{{#if members}}
							<li class="nav-item dropdown">
								<a href="{{link}}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{title}}</a>
								<ul class="dropdown-menu">
									{{#each members}}
										<li>{{{.}}}</li>
									{{/each}}
								</ul>
							</li>
						{{else}}
							<li class="nav-item"><a class="nav-link" href="{{link}}">{{title}}</a></li>
						{{/if}}
					{{/if}}
				{{/each}}
			</ul>
			{{#if options.search}}
				{{> search/navbar-input}}
			{{/if}}
		</div>
	</div>
</header>
<!-- end:navbar.hbs -->
