{{!--
  site/_navbar.hbs - Top navigation bar partial.

  Included by _layout.hbs via {{> site/navbar}}. Renders a responsive Bootstrap 5
  navbar with:
    - Brand link (systemLogo + systemName) pointing to index.html
    - Navigation items from navbar.topLevel (built by postProcessor.buildNavbar)
    - Two nav modes: dropdown (default) or inline list (options.inlineNav)
    - Optional search input (options.search) from search/_navbar-input.hbs

  The navbar data structure is populated in postProcessor.buildNavbar() from
  the navMembers option, which defines which kinds appear in the top nav.
--}}
<header class="navbar navbar-expand-md{{#if options.inverseNav}} navbar-dark bg-dark{{else}} navbar-light bg-light{{/if}} fixed-top">
	<div class="container">
		<a class="navbar-brand d-flex align-items-center" href="{{navbar.index.link}}">
			{{#if options.systemLogo}}<img src="{{options.systemLogo}}" alt="" class="branding-logo me-2">{{/if}}
			{{navbar.index.title}}
		</a>
		<!-- displayed on small devices -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavigation" aria-controls="topNavigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="topNavigation">
			<ul class="navbar-nav me-auto">
				{{#each navbar.topLevel}}
					{{#if ../options.inlineNav}}
						<li class="nav-item"><a class="nav-link" href="{{link}}">{{title}}</a></li>
					{{else}}
						{{#if members}}
							<li class="nav-item dropdown">
								<a href="{{link}}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{title}}</a>
								<ul class="dropdown-menu">
									{{#each members}}
										<li>{{{.}}}</li>
									{{/each}}
								</ul>
							</li>
						{{else}}
							<li class="nav-item"><a class="nav-link" href="{{link}}">{{title}}</a></li>
						{{/if}}
					{{/if}}
				{{/each}}
			</ul>
			{{#if options.search}}
				{{> search/navbar-input}}
			{{/if}}
		</div>
	</div>
</header>
<!-- end:navbar.hbs -->
