{{!-- Catch-all details callout: renders all optional metadata tags for a doclet --}}
{{#if hasDetails}}
	{{#callout "Details" "callout-default"}}
		<form class="details-form details">
			{{detail-type type}}
			{{detail-text defaultvalue "Default Value"}}
			{{detail-link-list augments "Augments"}}
			{{detail-text version "Version"}}
			{{detail-text since "Since"}}
			{{detail-link inherits "Inherited From"}}
			{{detail-link overrides "Overrides"}}
			{{detail-link-list implementations "Implementations"}}
			{{detail-link-list implements "Implements"}}
			{{detail-link-list mixes "Mixes In"}}
			{{detail-text deprecated "Deprecated"}}
			{{detail-link-list author "Author"}}
			{{detail-text copyright "Copyright"}}
			{{detail-text license "License"}}
			{{detail-source hasSource options source sourcelink}}
			{{detail-link-list tutorials "Tutorials"}}
			{{detail-link-list see "See"}}
			{{detail-text-list todo "To Do"}}
		</form>
	{{/callout}}
{{/if}}